#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(84, 21, 21);
}

.mainSection {
  flex-grow: 1;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}
